* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card {
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    /* position: relative; */
}

.storiyan {
    height: 100px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;

}

.storiyan::-webkit-scrollbar {
    display: none;
}

.story {

    margin-right: 5px;
    display: inline-block;
    height: 80px;
    border-radius: 50%;
    width: 80px;
    background-image: linear-gradient(to right bottom, red, purple, yellow, orange);
    padding: 5px;
}

.story img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.postdiv {
    height: 90%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 6vh;
    /* position: relative; */

}

.postdiv::-webkit-scrollbar {
    display: none;
}

.post {
    position: relative;
}

.post .love {
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transition: all ease 0.25s;
    /* scale: 0; */
    display: none;
}



.username {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    padding: 10px;
    /* position: relative; */


}

.username img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.username h4 {
    font-size: 20px;
}

.username i {
    margin-left: 30vh;
    font-size: 22px;
}

.post>img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.likes {
    font-size: 20px;
    padding-left: 15px;
}

.likes h4 {
    display: inline;
}

.bookmark {
    margin-left: 72%;

}

span {
    font-size: 18px;
    padding-left: 4px;
}

#full {
    padding: 5px 0;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: none;
    background-size: cover;
    background-position: center;
}

.growth {
    border-radius: 25px;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.progress {
    width: 0%;
    height: 100%;
    background-color: white;
    border-radius: 25px;

}

.fullimg {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 8px;
}

.fullimg img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px white;
}

#full h5 {
    font-size: 25px;
    /* color: rgb(241, 11, 11);
     */
    color: White;
}

.red {
    color: red;
}