* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.storiyan {
    height: 100px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}

.storiyan::-webkit-scrollbar {
    display: none;
}

.story {
    margin-right: 5px;
    display: inline-block;
    height: 80px;
    border-radius: 50%;
    width: 80px;
    background-image: linear-gradient(to right bottom, red, purple, yellow, orange);
    padding: 5px;
}

.story img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.postdiv {
    height: 90%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 6vh;


}

.postdiv::-webkit-scrollbar {
    display: none;
}

.love {
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transition: all ease 0.25s;
    /* opacity: 0; */
    scale: 0;
    z-index: 111;
}



.username {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    padding: 10px;
    position: relative;

}

.username img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.username h4 {
    font-size: 20px;
}

.username i {
    margin-left: 50%;
    font-size: 22px;
}

.post>img {
    height: 50vh;
    width: 100%;
    object-fit: contain;

}

.likes {
    font-size: 20px;
    padding-left: 15px;
}

.bookmark {
    margin-left: 72%;

}

span {
    font-size: 18px;
    padding-left: 4px;
}
